<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Usuário</th>
            <th>Organização</th>
            <th>Localização</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
         <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.github_username %></td>
                <td><%= user.organization %></td>
                <td><%= user.location %></td> 
            </tr>
        <% end %>    
    </tbody>
</table>
<%# <div class="clearfix">
    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
    <ul class="pagination">
        <li class="page-item disabled"><a href="#">Previous</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item active"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">Next</a></li>
    </ul>
</div> %>
